algolia:
  application_id: null
  index_name: null
  powered_by: null
  search_only_api_key: null
analytics:
  google:
    anonymize_ip: false
    tracking_id: UA-169251732-1
  provider: google
atom_feed:
  path: null
author:
  avatar: /assets/images/avatar.jpg
  bio: 생각을 정리하고, 나를 성장시키는 블로그입니다.
  links:
  - icon: fab fa-fw fa-github
    label: GitHub
    url: https://github.com/athgrow
  - icon: fas fa-fw fa-envelope
    label: Email
    url: mailto:athgrow@gmail.com
  location: South Korea
  name: AThGrow
baseurl: null
bing_site_verification: null
breadcrumbs: true
category_archive:
  path: /categories/
  type: liquid
comments:
  discourse:
    server: null
  disqus:
    shortname: null
  facebook:
    appid: null
    colorscheme: null
    num_posts: null
  provider: utterances
  staticman:
    branch: null
    endpoint: null
  utterances:
    issue_term: pathname
    theme: photon-dark
compress_html:
  clippings: all
  ignore:
    envs: development
defaults:
- scope:
    path: ''
    type: posts
  values:
    author_profile: true
    comments: true
    layout: single
    mathjax: true
    read_time: true
    related: true
    share: true
    sidebar_main: true
- scope:
    path: ''
    type: posts
  values:
    author_profile: true
    comments: true
    layout: single
    read_time: true
    related: true
    share: true
    sidebar_main: true
description: 깃헙 블로그 리셋
encoding: utf-8
excerpt_separator: '


  '
exclude:
- '*.sublime-project'
- '*.sublime-workspace'
- vendor
- .asset-cache
- .bundle
- .jekyll-assets-cache
- .sass-cache
- assets/js/plugins
- assets/js/_main.js
- assets/js/vendor
- Capfile
- CHANGELOG
- config
- Gemfile
- Gruntfile.js
- gulpfile.js
- LICENSE
- log
- node_modules
- package.json
- package-lock.json
- Rakefile
- README
- tmp
- /docs
- /test
facebook:
  app_id: null
  publisher: null
  username: null
footer:
  links:
  - icon: fab fa-fw fa-github
    label: GitHub
    url: https://github.com/ansohxxn
google:
  instant_search: null
  search_engine_id: null
google_site_verification: null
highlighter: rouge
include:
- .htaccess
- _pages
incremental: false
keep_files:
- .git
- .svn
kramdown:
  auto_ids: true
  enable_coderay: false
  entity_output: as_char
  footnote_nr: 1
  hard_wrap: false
  input: GFM
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  toc_levels: 1..6
locale: ko-KR
logo: null
lsi: false
markdown: kramdown
markdown_ext: markdown,mkdown,mkdn,mkd,md
masthead_title: null
minimal_mistakes_skin: dark
name: AThGrow
naver_site_verification: null
og_image: /assets/images/my-cat.jpg
paginate: 5
paginate_path: /page:num/
permalink: /:categories/:title/
plugins:
- jekyll-paginate
- jekyll-sitemap
- jekyll-gist
- jekyll-feed
- jekyll-include-cache
reCaptcha:
  secret: null
  siteKey: null
remote_theme: mmistakes/minimal-mistakes
repository: ansohxxn/comments
sass:
  sass_dir: _sass
  style: compressed
search: false
search_full_content: false
search_provider: null
social: {}
subtitle: null
tag_archive:
  path: /tags/
  type: liquid
teaser: null
timezone: null
title: AThGrow 블로그
title_separator: '-'
twitter:
  username: null
url: null
whitelist:
- jekyll-paginate
- jekyll-sitemap
- jekyll-gist
- jekyll-feed
- jekyll-include-cache
words_per_minute: 200
yandex_site_verification: null
